.menu__link {
  color: #808080;
  text-decoration: none;
  text-transform: lowercase;
  margin-right: 1.25rem;
}
.menu__link.ativo {
  color: black;
  font-weight: bold;
}

.menu__link:hover {
  text-decoration: underline;
}