.banner__imagem {
  align-items: center;
  background: url("../../img/banner.jpg") no-repeat center / cover;
  display: flex;
  height: 400px;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .banner__imagem {
    height: 490px;
  }
}
