.banner__titulo {
  color: #fdfdfd;
  font-family: Pacifico, cursive, sans-serif;
  font-weight: normal;
  font-size: 4.0625rem;
  line-height: 142px;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 768px) {
  .banner__titulo {
    font-size: 5.0625rem;
  }
}
