@import url(reset.css);
@import url(./header/header.css);
@import url(./header/menu/menu-lista.css);
@import url(./header/menu/menu-item.css);
@import url(./header/menu/menu-link.css);
@import url(./banner/banner.css);
@import url(./banner/banner-imagem.css);
@import url(./banner/banner-titulo.css);
@import url(./sobre/sobre.css);
@import url(./sobre/sobre-titulo.css);
@import url(./sobre/sobre-descricao.css);
@import url(./receitas/receitas.css);
@import url(./receitas/receitas-card.css);
