@import url(reset.css);
@import url(./cabecalho.css);
@import url(./header/header.css);
@import url(./header/menu/menu__lista.css);
@import url(./header/menu/menu__item.css);
@import url(./header/menu/menu__link.css);
@import url(./banner/banner.css);
@import url(./banner/banner-imagem.css);
@import url(./banner/banner-titulo.css);
@import url(./sobre/sobre.css);
@import url(./sobre/sobre-titulo.css);
@import url(./sobre/sobre-descricao.css);
@import url(./receitas/receita.css);
@import url(./receitas/receita-card.css);
@import url(./receitas/receita-imagem.css);
@import url(./receitas/receita-conteudo.css);
@import url(./receitas/receita-titulo.css);
@import url(./receitas/receita-descricao.css);
@import url(./receitas/receita-botao.css);
