@import url(reset.css);
@import url(./header-section/header.css);
@import url(./header-section/menu/menu-lista.css);
@import url(./header-section/menu/menu-item.css);
@import url(./header-section/menu/menu-link.css);
@import url(./banner-section/banner.css);
@import url(./banner-section/banner-imagem.css);
@import url(./banner-section/banner-titulo.css);
@import url(./sobre-section/sobre.css);
@import url(./sobre-section/sobre-titulo.css);
@import url(./sobre-section/sobre-descricao.css);
@import url(./receitas-section/receita.css);
@import url(./receitas-section/receita-card.css);
@import url(./receitas-section/receita-imagem.css);
@import url(./receitas-section/receita-conteudo.css);
@import url(./receitas-section/receita-titulo.css);
@import url(./receitas-section/receita-descricao.css);
@import url(./receitas-section/receita-botao.css);
@import url(./quem-somos-section/quem-somos/quem-somos.css);
@import url(./quem-somos-section/quem-somos/quem-somos-conteudo.css);
@import url(./quem-somos-section/quem-somos/quem-somos-titulo.css);
@import url(./quem-somos-section/quem-somos/quem-somos-descricao.css);
@import url(./quem-somos-section/pessoas/pessoas.css);
@import url(./quem-somos-section/pessoas/pessoa.css);
@import url(./quem-somos-section/pessoas/pessoa-img.css);
@import url(./quem-somos-section/pessoas/pessoa-conteudo.css);
@import url(./quem-somos-section/pessoas/pessoa-titulo.css);
@import url(./quem-somos-section/pessoas/pessoa-descricao.css);
