@import url(reset.css);
@import url(./header/header.css);
@import url(./header/menu/menu-lista.css);
@import url(./header/menu/menu-item.css);
@import url(./header/menu/menu-link.css);
@import url(./banner/banner.css);
@import url(./banner/banner-imagem.css);
@import url(./banner/banner-titulo.css);
@import url(./sobre/sobre.css);
@import url(./sobre/sobre-titulo.css);
@import url(./sobre/sobre-descricao.css);
@import url(./receitas/receitas.css);
@import url(./receitas/receitas-card.css);
@import url(./quem-somos-section/quem-somos/quem-somos.css);
@import url(./quem-somos-section/quem-somos/quem-somos-conteudo.css);
@import url(./quem-somos-section/quem-somos/quem-somos-titulo.css);
@import url(./quem-somos-section/quem-somos/quem-somos-descricao.css);
@import url(./quem-somos-section/pessoas/pessoas.css);
@import url(./quem-somos-section/pessoas/pessoa.css);
@import url(./quem-somos-section/pessoas/pessoa-img.css);
@import url(./quem-somos-section/pessoas/pessoa-img-roberta.css);
@import url(./quem-somos-section/pessoas/pessoa-img-marcela.css);
@import url(./quem-somos-section/pessoas/pessoa-img-andreia.css);
@import url(./quem-somos-section/pessoas/pessoa-conteudo.css);
@import url(./quem-somos-section/pessoas/pessoa-titulo.css);
@import url(./quem-somos-section/pessoas/pessoa-descricao.css);
