.receita {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5rem 4rem;
  gap: 2rem;
}

@media screen and (media-width: 768px) {
  .receita {
    gap: 105px;
  }
}

@media screen and (min-width: 1920px) {
  .receita {
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}
