.cabecalho {
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
}

@media screen and (min-width: 0) {
  .cabecalho {
    width: auto;
    height: 5rem;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .cabecalho {
    padding: 0 5rem;
    justify-content: space-between;
  }
}
